RewriteEngine On

#------- Quitar la ext .php de las URL -------#
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

#------- Quitar la ext .html de las URL -------#
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

#------- Si el recurso no existe,  -------#
#------- redireccionar a index.php -------#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/?$ index.php?url=$1 [L,QSA]

<IfModule mod_headers.c>
    # Header always set Access-Control-Allow-Origin "*"
    # Header append Access-Control-Allow-Origin "http://localhost:4200"
    # Header append Access-Control-Allow-Origin "https://portal-admin-mtg-deckbuilder.000webhostapp.com"
    Header always set Access-Control-Allow-Methods "POST, GET, PUT, DELETE"
    Header always set Access-Control-Allow-Headers "Content-Type"
    Header append Access-Control-Allow-Headers "api-key"
</IfModule>
